<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row" style="padding: 10px 0">
    <div class="col-md-12">
      <div class="btn-group" role="group" aria-label="Basic example">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="d-flex">
        <canvas #cnvsPiePizza id="cnvsGeral"></canvas>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="d-flex">
        <canvas #cnvsNotify id="cnvsNotify"></canvas>
      </div>
    </div>
  </div>
</div>
